name: docker

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push API image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/carlosgutierrezr/passcheck-api:latest

      - name: Build & push Logger image
        uses: docker/build-push-action@v5
        with:
          context: ./logger
          push: true
          tags: |
            ghcr.io/carlosgutierrezr/passcheck-logger:latest
